.game-board {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 100px;
    row-gap: 50px;
}

.game-card{
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;

    transition: 1s;
}

.game-card:hover{
    filter: contrast(1.5);
}