.game-board {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 75px;
    row-gap: 40px;
}

.game-card{
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 15px;
    border-radius: 10px;

    transition: 0.15s;
    filter:invert(0.5);
}

.game-card:hover{
    /*background-color: rgba(108, 172, 222, 0.2);*/
    filter:invert(0);
}